In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [41]:
train_data = pd.read_csv("train-data.csv", index_col=0)

In [42]:
train_data.shape

(355, 33)

In [43]:
train_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000,333.000000,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000
mean,16.698592,2.740845,2.540845,1.430986,2.028169,0.501408,3.939940,3.492958,3.138028,1.484507,2.332394,3.557746,5.667606,3.734507,3.673944,3.603521
std,1.274200,1.092033,1.079022,0.695139,0.829741,2.481997,0.903138,3.904485,1.127765,0.880846,1.294030,1.403754,8.126955,0.815917,0.933444,1.133881
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,2.250000,1.000000,1.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,3.000000,3.250000,3.250000
50%,17.000000,3.000000,3.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,3.750000,3.750000,3.750000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,4.250000,4.250000,4.250000
max,22.000000,4.000000,4.000000,4.000000,4.000000,33.000000,5.000000,56.000000,5.000000,5.000000,5.000000,5.000000,75.000000,5.750000,5.750000,6.000000

In [44]:
X_train = train_data.drop(columns='G3')
y_train = train_data['G3']

X_train, X_dev, y_train, y_dev = train_test_split(X_train, y_train, test_size=0.1)

## data analysis

In [45]:
# TODO

## define and train model**

In [46]:
# TODO

## Predict and evaluate prices for dev set

In [47]:
y_dev_pred = np.full(X_dev.shape[0], y_train.mean())

In [48]:
mean_absolute_error(y_dev, y_dev_pred)

0.6811868686868688

In [49]:
X_test = pd.read_csv("test-data.csv", index_col=0)

In [50]:
X_test.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences
count,40.000000,40.000000,40.00000,40.000000,40.000000,40.000000,18.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,16.675000,2.825000,2.35000,1.600000,2.100000,1.775000,4.000000,5.800000,2.850000,1.450000,1.925000,3.525000,2.650000
std,1.308503,1.129727,1.16685,0.708918,0.928191,7.043773,0.840168,11.126775,0.948683,0.985797,1.185111,1.280775,6.735098
min,15.000000,0.000000,0.00000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,-1.000000
25%,16.000000,2.000000,1.00000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,-1.000000
50%,16.500000,3.000000,2.00000,1.500000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,1.000000,4.000000,0.000000
75%,18.000000,4.000000,3.00000,2.000000,3.000000,0.000000,4.750000,4.000000,3.250000,1.000000,3.000000,5.000000,3.000000
max,20.000000,4.000000,4.00000,4.000000,4.000000,33.000000,5.000000,56.000000,5.000000,5.000000,5.000000,5.000000,38.000000

In [51]:
y_test_pred = np.full(X_test.shape[0], y_train.mean())

In [52]:
X_test_submission = pd.DataFrame(index=X_test.index)
X_test_submission['G3'] = y_test_pred
X_test_submission.to_csv('baseline_submission.csv', header=True, index_label='id')